<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MudakBook</title>

  <link href="/assets/css/style.css" rel="stylesheet">

  <script data-main="/scripts/init" src="/scripts/vendor/requirejs/require.min.js"></script>

  <script type="text/javascript">
    var bootstrapped = {};
  </script>
</head>
<body>

</body>
</html>