<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mudakbook</title>
  <link href="/assets/css/mudakbook.css" rel="stylesheet">

  <script type="text/javascript">
    var bootstrapped = {};
  </script>
  <script data-main="/scripts/init" src="/scripts/vendor/requirejs/require.min.js" async></script>
</head>
<body>
<div class="doc-loader"></div>
<div id="main-container"></div>
<footer>
  <p>© Copyright 2014 MudakBook </p>
</footer>
</body>
</html>