<div class="container">
  <div class="container">
    <a class="navbar-brand" href="/">Mudak Book</a>
    <div id="main-nav" class="navbar-collapse">
    <ul class="social-links">
      <a href="#"><li class="fa fa-twitter"></li></a><!-- Twitter Link -->
      <a href="#"><li class="fa fa-facebook"></li></a><!-- Facebook Link -->
      <a href="#"><li class="fa fa-vk"></li></a><!-- YouTube Link -->
    </ul>
  </div><!-- /navbar-collapse -->
  </div><!-- /container -->
</div>