  <section id="intro">
    <header>
      <!-- insert header here -->
    </header>
    <div class="container">
      <div class="intro-well wow animated bounceIn">
      <div class="col-md-12">
      <h1>Вас обманули в интернете? </h1>
      <h2>Взяли деньги, а товар/услугу так и не предоставили?</h2>
      <a class="btn btn-primary" href="/complain">Накажите мудака!</a>
      </div>
      </div>
    </div><!-- /container -->
  </section>

  <section id="features">
    <div class="container wow fadeIn animated">
      <h1>Как это работает?</h1>
      <h2>Бороться с жуликами в сети интернет очень сложно и тому есть несколько причин -  <br />анонимность, отсутствие регулятора, "покупные" отзывы. <br /><br/>Все это делает почти невозможным отделить добропорядочных продавцов от мудаков. <br />Почти! Наш ресурс призван все же решить эту проблему.</h2>
    </div><!-- /container -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
          <div class="iconbox"><a href="#" class="icn-1">Мудак найден</a></div>
          <p class="icntitle">1.Найти мудака</p>
          <p class="icnp">Обычный пользователь (такой как ты) натыкается на мудака. Например тот не прислал товар, забрав деньги.</p>
        </div><!-- /col-md-4 -->
        <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
          <div class="iconbox"><a href="#" class="icn-2">Responsive</a></div>
          <p class="icntitle">2.Запомнить его</p>
          <p class="icnp">Пользователь заносит все известные реквизиты (имя, фамилия, номер банковской карты...) мудака в нашу базу.</p>
        </div><!-- /col-md-4 -->
        <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
          <div class="iconbox"><a href="#" class="icn-3">App of Year</a></div>
          <p class="icntitle">3.Перестраховаться</p>
          <p class="icnp">Другие пользователи (и ты в том числе!) перед тем, как отправлять деньги, ищут мудака на нашем сайте. Если он найден - мудак останется без денег!</p>
        </div><!-- /col-md-4 -->
      </div><!-- /row -->
    </div><!-- /container -->

    <div class="more-features">
      <div class="container wow fadeIn animated">
        <h1>Как видишь - ничего сложного! </h1>
        <h2 style="padding-bottom:0">А вот еще несколько фактов о MudakBook:</h2>
      </div><!-- /container -->
      <div class="container">
        <div class="col-sm-4">
        <div class="features-left wow animated fadeInLeft" data-wow-delay="0.1s">
          <div class="features-item">
            <i class="fa fa-check icons_right hidden-sm"></i>
            <div class="text-align-right">
              <h4>Это очень просто</h4>
              <p>От тебя потребуется просто внести все известные тебе данные о мудаке!</p>
            </div><!-- /text-align-right -->
          </div><!-- /features-item -->
          <div class="features-item">
            <i class="fa fa-clock-o icons_right hidden-sm"></i>
            <div class="text-align-right">
              <h4>Это быстро</h4>
              <p>Создание жалобы занимает не более 2 минут!</p>
            </div><!-- /text-align-right -->
          </div><!-- /features-item -->
          <div class="features-item">
            <i class="fa fa-thumbs-up icons_right hidden-sm"></i>
            <div class="text-align-right">
              <h4>Это надежно</h4>
              <p>Никаих покупных отзывов и фейковых похвал. Только реальные люди с реальными жалобами!</p>
            </div><!-- /text-align-right -->
          </div><!-- /features-item -->
          </div><!-- /features-left -->
        </div><!-- /col-sm-4 -->
        <div id="iphone" class="col-sm-4 hidden-xs wow animated fadeInUp" data-wow-delay="0.3s">
          <div class="iphone-inside">
            <div class="iphone-inside-title">Mudak Book</div>
            <div class="iphone-inside-pic"><img src="/assets/img/img3.png" /></div>
          </div>
          <!-- <img src="/assets/img/iphone.png" class="img-responsive" alt="iPhone"> -->
        </div><!-- /col-sm-4 -->
        <div class="col-sm-4">
          <div class="features-right wow animated fadeInRight" data-wow-delay="0.2s">
            <div class="features-item">
              <i class="fa fa-exclamation icons_left hidden-sm"></i>
              <div class="text-align-left">
                <h4>Это бесплатно</h4>
                <p>Сервис абсолютно бесплатен для пользователей! Ты не заплатишь ни копейки за это!</p>
              </div><!-- /text-align-left -->
            </div><!-- /features-item -->
            <div class="features-item">
              <i class="fa fa-bullhorn icons_left hidden-sm"></i>
              <div class="text-align-left">
                <h4>реальное воздействие</h4>
                <p>Никто не будет покупать товары у мудака и скоро он разорится!</p>
              </div><!-- /text-align-left -->
            </div><!-- /features-item -->
            <div class="features-item">
              <i class="fa fa-book icons_left hidden-sm"></i>
              <div class="text-align-left">
                <h4>Большая база мудаков</h4>
                <p>У нас нет ограничений на род деятельности, территориальное расположение и прочее!</p>
              </div><!-- /text-align-left -->
            </div><!-- /features-item -->
          </div><!-- /features-right -->
        </div><!-- /col-sm-4 -->
      </div><!-- /container -->
    </div><!-- /more-features -->
  </section>

  <section id="newsletter">
    <div class="container wow animated fadeInDown">
      <h3>Планируете покупку, но не уверены в продавце?</h3>
      <form class="form-inline" action="/search" method="get">
        <input type="text" name="value" placeholder="ФИО, email, сайт, номер карты или телефон" class="input-lg">
        <button type="submit" class="btn btn-primary">А не мудак ли он часом?</button>
      </form>
    </div>
  </section>

  <section id="download">
    <h3></h3>
    <div class="container wow fadeIn animated">
      <div class="row">
        <div class="col-md-8">
          <h3>Вы добропорядочный продавец и хотите знать, что на самом деле думают о Вас покупатели?</h3>
          <a class="btn btn-primary" href="#">У нас есть для Вас предложение!</a>
        </div>
        <div class="col-md-4" style=" text-align: right;">
          <img src="/assets/img/img4.jpg" alt="picture">
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </section>